$max-width: 1024px;
$secondary-color: #005490;
$primary-color: #000000;
$font-stack: "Roboto", sans-serif;
$spacing-unit: 16px;
$light-background: #fff;
$light-text: #000;
$dark-background: #333;
$dark-text: #fff;
